#News {
	 float: left;
  width: 50%;
}

#row:after {
  content: "";
  display: table;
  clear: both;
}

 nav a {
	 text-decoration: none;
	 color: #03bafc;
 }
 
  body {
	  background-color: #e3ccf0;
  }
  
  #intro {
		text-align: center;
		font-size: 200%;
  }
 